extends layout

block content
  div.units-row.end
    div.unit-centered.unit-60#main

      a(href='/')
        div.units-row.end.text-centered
          div.unit-centered.unit-100.end
            hgroup.right
              h1.italic= title
              h1.subheading Welcome to #{title}

      div.units-row.end.text-centered
        div.unit-centered.unit-100.end

          p.bold#pouce
            | sladkjas ldkjasl asdlkjasd lkasjd ldk ldj lasdkj alsdkjas dlkj asljdlk
            | sladkjas ldkjasl asdlkjasd lkasjd ldk ldj lasdkj alsdkjas dlkj asljdlk
            | sladkjas ldkjasl asdlkjasd lkasjd ldk ldj lasdkj alsdkjas dlkj asljdlk
            | sladkjas ldkjasl asdlkjasd lkasjd ldk ldj lasdkj alsdkjas dlkj asljdlk
            | asdjlasldk asdjlad jaskl jasldkj class


      div.units-row
        div.unit-centered.unit-100
          div#markdown
            if mark
              span#custom !{mark}
            else
              p Nothing to render

