div.units-row.end#topline
  div.unit-centered.unit-100

div.units-row.end#heading-top
  div.unit-centered.unit-100

    a(href='/')
      div.units-row.end
        div.unit-push-60.unit-30
          hgroup
            h1.italic#heading= title

div.units-row.units-split.end#sticker
  div.unit-10#stick1
  div.unit-10#stick2
  div.unit-10#stick3
  div.unit-10#stick4
  div.unit-20
    div.units-row.units-split
      div.unit-50#substick1
      div.unit-50#substick2
  div.unit-10#stick6
  div.unit-10#stick7
  div.unit-10#stick8
  div.unit-10#stick9
