doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/kube.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/default.css')
    script(src='/javascripts/jquery.min.js')
    script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script(src='/javascripts/marked.min.js')
    script(src='/javascripts/highlight.pack.js')
    script(type='text/javascript').
      hljs.initHighlightingOnLoad();

  body#index

    include ./header.jade

    include ./navig.jade

    block content
