div.units-row.nav-top
  div.unit-centered.unit-60#navig
    nav(class="navbar fullwidth")
      ul
        li: a(href='#') Home
        li: span: a(href='#') Book
        li: a(href='#') Link
        li: a(href='#') Info

