/**** FONT ****/
@font-face {
  font-family: "Dust";
  src: url('font/dust.ttf');
}

@font-face {
  font-family: "Chunk";
  src: url('font/Chunkfive.otf');
}
/************/


#topline {
  height:     2px;
  background: black;
}

#heading-top {
  background:  #000080;
  color: white;
}

#heading {
  padding-top: 10px;
  font-family: "Dust";
  font-size:   400%;
  margin-left: 150px;
  background:  #000080;
  color: white;
}

#slogan {
  font-family: "Dust";
  color:       gray;
  font-weight: bold;
  font-size:   150%;
  margin-left: 120px;
  margin-top:  -10px;
}


/******** NAVIGATION ********/
/******** NAVIGATION ********/

div div nav ul li {
  background: white;
}


#navig ul li * {
  font-family: "Chunk";
  font-size: 145%;
  font-weight: bold;
  color: #197519;
}

#navig ul li a:hover {
  font-family: "Chunk";
/*  font-size: 175%; */
  font-weight: bold;
  color: red;
}


#navig ul li span * {
  color: #7A00A3;
  font-size: 105%;
}

#navig-foot {
  margin-top: 0px;
  padding-top: 0px;
  height: 2px;
  background: #003D3D;
}


/******** NAVIGATION ********/
/******** NAVIGATION ********/


.marg {
  margin-left: 1em;
}


.last {
  float: right;
}


#index {
  background: #fff;
}


#main {
  background: #fff;
}


/*******  STICK   ******************/
/***********************************/

/*
#stick {
  height: 10px;
  background: black;
}
#00001A, #000080, #0000E6, #4D4DFF, #B2B2FF
*/

#stick1 {
  height: 10px;
  background: #00001A;
}
#stick2 {
  height: 10px;
  background: #000080;
}
#stick3 {
  height: 10px;
  background: #0000E6;
}
#stick4 {
  height: 10px;
  background: #4D4DFF;
}

/******************************/
#substick1 {
  height: 10px;
  background: #B2B2FF;
}
#substick2 {
  height: 10px;
  background: #CCE0E0;
}
/******************************/

#stick6 {
  height: 10px;
  background: #66A3A3;
}
#stick7 {
  height: 10px;
  background: #006666;
}
#stick8 {
  height: 10px;
  background: #003D3D;
}
#stick9 {
  height: 10px;
  background: #001414;
}



/***********************************/
/***********************************/
/***********************************/
/*
#markdown p {
  margin-bottom: 15px;
}

#markdown pre {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: #f0f0f0;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-top-right-radius:    10px;
  border-top-left-radius:     10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:  10px;
}



#markdown code {
  margin: 0px;
  padding: 10px;
  border: 0;
  font-size: 100%;
  background: #f0f0f0;
}

#custom pre {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


  */


#custom pre { background: white;}
#custom code {
  margin: 0px;
  padding: 5px;
  border: 0;
  font-size: 100%;
  border-top-right-radius:    5px;
  border-top-left-radius:     5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:  5px;
}


/**********************************/
/**********************************/
/**********************************/




#heading * {
  text-align: center;
}

#footed {
   position: fixed;
   right:     20%;
   left:     20%;
   bottom:   -3px;
   height:   30px;
   background:#999;
   width:60%;
}


/*** FORM NEW ***/
/*** FORM NEW ***/

#btn_titre {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

}

#btn_titre {
  border-top: 1px solid #1E90FF;
  border-right: 1px solid #1E90FF;
  border-bottom: 1px solid #1E90FF;
  border-left: 1px solid #1E90FF;
}


#text_zone {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

}

#text_zone {
  border-top: 1px solid #1E90FF;
  border-right: 1px solid #1E90FF;
  border-bottom: 1px solid #1E90FF;
  border-left: 1px solid #1E90FF;
}


/*** ARTICLE ***/
/*** ARTICLE ***/
/*
.article_box {
  background:  #ddd;
  height: 70px;
  border-top:    2px solid #aaa;
  border-right:  2px solid #aaa;
  border-bottom: 2px solid #aaa;
  border-left:   2px solid #aaa;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
*/

.article_head {
  background:  #eee; /* LightGray;*/
  height: 80px;
  padding-top: 10px;
  border-top:    2px solid white;
  border-right:  4px solid white;
  border-bottom: 2px solid white;
  border-left:   2px solid white;
/*
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
*/
}

.article_content {
  background:  #eee; /* LightGray;*/
  height: 80px;
  padding-top: 10px;
  border-top:    2px solid white;
  border-right:  2px solid white;
  border-bottom: 2px solid white;
  border-left:   4px solid white;
/*
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
*/
}

.article_box {
  background:  white;
  height:  80px;
}

.article_heads {
  background:  #eee;
  height:  80px;
  border-right:  2px solid white;
}

.article_contents {
  background:  #eee;
  height: 60px;
  border-left:   2px solid white;
  border-bottom: 2px solid white;
}

.article_tags {
  background:  #eee;
  height: 20px;
  border-top:    2px solid white;
  border-left:   2px solid white;
}

#article_create {
  padding: 10px;
  font-size: 150%;
  color:black;
  text-decoration: none;
}



/*
.article_box a div {
  background = gray;
  color = red;
}
*/

/*** ARTICLE ***/
/*** ARTICLE ***/

/*
#btn_titre {
  border-top-radius(50px);
}
*/

/* #footed div span { color: green; }

#footed div {
  background: black;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 15px 0 0 0;
  vertical-align: center;
  border: #000 1px solid;
}

#bidon {
  overflow: hidden;
}
*/
