mixin default_input(_name, _place, _value)
  input(type='text' name=_name placeholder=_place value=_value required)

form(method="post" action="new" class="forms")

  div.units-row.end
    div.unit-40
      label.bold.end.btn_titre
        | Titre #[span.req *]
        if titre
          +default_input('ntitre', 'titre', titre )
        else
          +default_input('ntitre', 'titre', '')

    div.unit-50
      label.bold.end.btn_titre
        | Tag list #[span.req *]
        if tags
          +default_input('ntags', 'tags', tags)
        else
          +default_input('ntags', 'tags', '')

  ul.forms-inline-list.bold.last.end
    li #[p]
    li
      input(type='checkbox' name='fmt_markdown' checked)
      label(style='font-style: normal;') Markdown
    li
      input(type='checkbox' name='m2' value='m2' id='m2')
      label(style='font-style: normal;') Raw Text

  textarea.width-100(id="text_zone" rows="10" name="text")
    if content
      !{content}
  button.btn-green.width-25(name="push" value="push") Preview

form(action='index' method='GET')
  button.btn-black.width-25(name="goBack" value="goBack") Go Back
